In [1]:
import pandas as pd
import numpy as np

In [ ]:
Set up your environment and install the necessary libraries

In [3]:
!pip install telethon

Requirement already satisfied: telethon in c:\users\yibabe\desktop\10academyaimweek-5\env\lib\site-packages (1.37.0)
Requirement already satisfied: pyaes in c:\users\yibabe\desktop\10academyaimweek-5\env\lib\site-packages (from telethon) (1.6.1)
Requirement already satisfied: rsa in c:\users\yibabe\desktop\10academyaimweek-5\env\lib\site-packages (from telethon) (4.9)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\yibabe\desktop\10academyaimweek-5\env\lib\site-packages (from rsa->telethon) (0.6.1)

In [ ]:
 Import and authenticate with the Telegram API

In [2]:
from telethon.sync import TelegramClient

# Replace these with your own values
api_id = '29354999'
api_hash = 'edc4bfe62ee519a3259bbdb92ba66aae'
phone_number = '+251960627431'

# Create the client and connect
client = TelegramClient('session_name', api_id, api_hash)

async def connect_telegram():
    await client.start(phone_number)
    print("Connected to Telegram")

await connect_telegram()

Server resent the older message 7420754915562624001, ignoring

Connected to Telegram

Server closed the connection: [WinError 10054] An existing connection was forcibly closed by the remote host

In [ ]:
Access the channel and scrape messages and save to csv file

In [3]:
import time
import pandas as pd
from telethon.tl.functions.messages import GetHistoryRequest
from telethon.tl.types import PeerChannel

async def scrape_channel_messages(channel_username, max_messages=10000, batch_size=100, sleep_time=2):
    # Get the channel entity
    channel = await client.get_entity(channel_username)
    
    # Variables for scraping
    offset_id = 0
    all_messages = []
    
    while len(all_messages) < max_messages:
        print(f"Scraping messages... Collected {len(all_messages)} so far.")
        
        # Fetch the message history
        history = await client(GetHistoryRequest(
            peer=channel,
            offset_id=offset_id,
            offset_date=None,
            add_offset=0,
            limit=batch_size,
            max_id=0,
            min_id=0,
            hash=0
        ))
        
        # Break the loop if no more messages are returned
        if not history.messages:
            break
        
        # Add messages to the list
        messages = history.messages
        all_messages.extend(messages)
        
        # Update the offset_id to the last message's ID to avoid duplicates
        offset_id = messages[-1].id
        
        # Sleep to respect Telegram's rate limit
        time.sleep(sleep_time)
    
    # Limit the number of messages to max_messages
    all_messages = all_messages[:max_messages]

    # Prepare the data for CSV export
    data = []
    for msg in all_messages:
        if msg.message:  # Only save non-empty messages
            data.append({
                'date': msg.date,
                'sender_id': msg.sender_id,
                'message': msg.message
            })

    # Convert to DataFrame and save to CSV
    df = pd.DataFrame(data)
    df.to_csv(r'C:\Users\Yibabe\Desktop\10academyAIMweek-5\data\telegram_channel_messages.csv', index=False)
    print("Scraping complete. Data saved to 'telegram_channel_messages.csv'")

# Scrape up to 10,000 messages and save to CSV
await scrape_channel_messages('@MerttEka', max_messages=10000, batch_size=100, sleep_time=0.1)

Scraping messages... Collected 0 so far.
Scraping messages... Collected 100 so far.
Scraping messages... Collected 200 so far.
Scraping messages... Collected 300 so far.
Scraping messages... Collected 400 so far.
Scraping messages... Collected 500 so far.
Scraping messages... Collected 600 so far.
Scraping messages... Collected 700 so far.
Scraping messages... Collected 800 so far.
Scraping messages... Collected 900 so far.
Scraping messages... Collected 1000 so far.
Scraping messages... Collected 1100 so far.
Scraping messages... Collected 1200 so far.
Scraping messages... Collected 1300 so far.
Scraping messages... Collected 1400 so far.
Scraping messages... Collected 1500 so far.
Scraping messages... Collected 1600 so far.
Scraping messages... Collected 1700 so far.
Scraping messages... Collected 1800 so far.
Scraping messages... Collected 1900 so far.
Scraping messages... Collected 2000 so far.
Scraping messages... Collected 2100 so far.
Scraping messages... Collected 2200 so far.
Scraping messages... Collected 2300 so far.
Scraping messages... Collected 2400 so far.
Scraping messages... Collected 2500 so far.
Scraping messages... Collected 2600 so far.
Scraping messages... Collected 2700 so far.
Scraping messages... Collected 2800 so far.
Scraping messages... Collected 2900 so far.
Scraping messages... Collected 3000 so far.
Scraping messages... Collected 3100 so far.
Scraping messages... Collected 3200 so far.
Scraping messages... Collected 3300 so far.
Scraping messages... Collected 3400 so far.
Scraping messages... Collected 3500 so far.
Scraping messages... Collected 3600 so far.
Scraping messages... Collected 3700 so far.
Scraping messages... Collected 3800 so far.
Scraping messages... Collected 3900 so far.
Scraping messages... Collected 4000 so far.
Scraping messages... Collected 4100 so far.
Scraping messages... Collected 4200 so far.
Scraping messages... Collected 4300 so far.
Scraping messages... Collected 4400 so far.
Scraping messages... Collected 4500 so far.
Scraping messages... Collected 4600 so far.
Scraping messages... Collected 4700 so far.
Scraping messages... Collected 4800 so far.
Scraping messages... Collected 4900 so far.
Scraping messages... Collected 5000 so far.
Scraping messages... Collected 5100 so far.
Scraping messages... Collected 5200 so far.
Scraping messages... Collected 5300 so far.
Scraping messages... Collected 5400 so far.
Scraping messages... Collected 5500 so far.
Scraping messages... Collected 5600 so far.
Scraping messages... Collected 5700 so far.
Scraping messages... Collected 5731 so far.
Scraping complete. Data saved to 'telegram_channel_messages.csv'

In [1]:
import pandas as pd
#load the csv file 
df = pd.read_csv(r'C:\Users\Yibabe\Desktop\10academyAIMweek-5\data\telegram_channel_messages.csv')

In [3]:
df .head()# to visualize the scraped data

,date,sender_id,message
0,2024-10-01 10:39:48+00:00,-1001370292088,📣 🔠🔠🔠 🔠🔠🔠🔠🔠 🔠🔠🔠\n✔️ የትኩስ ውሃ መያዢያ ከረጢት\n✔️ 1.8...
1,2024-09-30 13:19:34+00:00,-1001370292088,📣Special Base for Refrigerators\n\n✔️የፍሪጅ ማስቀመ...
2,2024-09-30 11:11:45+00:00,-1001370292088,📣 Door Step Shoe Rack\n\n✔️ የበር ስር ጫማ ማስቀመጫ\n✔...
3,2024-09-29 15:35:03+00:00,-1001370292088,📣 🔠🔠🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠\n\n✔️ ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\...
4,2024-09-29 15:13:37+00:00,-1001370292088,📣 🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠🔠\n\n✔️ ቦርጭ የሚሰበስብ\n✔️የቦ...

In [4]:
df['message']

0       📣 🔠🔠🔠 🔠🔠🔠🔠🔠  🔠🔠🔠\n✔️ የትኩስ ውሃ መያዢያ ከረጢት\n✔️ 1.8...
1       📣Special Base for Refrigerators\n\n✔️የፍሪጅ ማስቀመ...
2       📣 Door Step Shoe Rack\n\n✔️ የበር ስር ጫማ ማስቀመጫ\n✔...
3       📣 🔠🔠🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠\n\n✔️ ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\...
4       📣 🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠🔠\n\n✔️ ቦርጭ የሚሰበስብ\n✔️የቦ...
                              ...
4163                                                 2500
4164                                  ዋጋ 2500\n0983063957
4165    የሙያ ባለቤት መሆን መሠልጠን ነው።\nቀለም ቀቢ ሳያስፈልግዎ ቤትዎን ወይ...
4166    ቤትና ግቢዎን እንዲሁም የብረት እና የእንጨት ቁሳቁስዎን ቀለም ቀቢ ሳያስ...
4167                  ለማዘዝ\n https://t.megojomewechiyaeka
Name: message, Length: 4168, dtype: object

In [5]:
df.columns

Index(['date', 'sender_id', 'message'], dtype='object')

In [6]:
df.isnull().sum()

date         0
sender_id    0
message      0
dtype: int64

In [7]:
df.shape

(4168, 3)

In [8]:
df['date'].describe() #to check the duplicate and drop them

count                          4168
unique                         4094
top       2022-11-29 19:21:17+00:00
freq                              5
Name: date, dtype: object

In [2]:
# Check for duplicates based on the 'date' column
duplicate_dates = df[df.duplicated(subset='date')]
print(f"Number of duplicate dates: {len(duplicate_dates)}")

# If you want to remove duplicates:
df = df.drop_duplicates(subset='date')
print(f"Number of unique dates after removing duplicates: {df['date'].nunique()}")

Number of duplicate dates: 74
Number of unique dates after removing duplicates: 4094

In [3]:
df['date'] = pd.to_datetime(df['date'])
print(df['date'].dtypes)  # Verify that it's datetime64[ns]

datetime64[ns, UTC]

preproccessing the data and clean the emoji 
Import Required Libraries

In [4]:
import re
# Define a Function to Remove Emojis
def remove_emojis(text):
    # Define a regex pattern for emojis
    emoji_pattern = re.compile(
        "["
        "\U0001F600-\U0001F64F"  # emoticons
        "\U0001F300-\U0001F5FF"  # symbols & pictographs
        "\U0001F680-\U0001F6FF"  # transport & map symbols
        "\U0001F700-\U0001F77F"  # alchemical symbols
        "\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        "\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        "\U0001FA00-\U0001FA6F"  # Chess Symbols
        "\U00002702-\U000027B0"  # Dingbats
        "\U000024C2-\U0001F251"
        "]+",
        flags=re.UNICODE
    )
    return emoji_pattern.sub(r'', text)  # Remove emojis

In [5]:
#Apply the Function to THE DataFrame
df['cleaned_message'] = df['message'].apply(remove_emojis)

# Check the results
print(df['cleaned_message'].head())

0        \n የትኩስ ውሃ መያዢያ ከረጢት\n 1.8 ሊትር ውሃ ይይዛል\n ሙ...
1    Special Base for Refrigerators\n\nየፍሪጅ ማስቀመጫ\n...
2     Door Step Shoe Rack\n\n የበር ስር ጫማ ማስቀመጫ\n ወፍራ...
3      \n\n ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\nእስከ 50 ኪሎ ይመዝና...
4       \n\n ቦርጭ የሚሰበስብ\nየቦርጭ ስብ የሚያቃጥል \n ማራኪ የሰውነ...
Name: cleaned_message, dtype: object

In [6]:
df.head()

,date,sender_id,message,cleaned_message
0,2024-10-01 10:39:48+00:00,-1001370292088,📣 🔠🔠🔠 🔠🔠🔠🔠🔠 🔠🔠🔠\n✔️ የትኩስ ውሃ መያዢያ ከረጢት\n✔️ 1.8...,\n የትኩስ ውሃ መያዢያ ከረጢት\n 1.8 ሊትር ውሃ ይይዛል\n ሙ...
1,2024-09-30 13:19:34+00:00,-1001370292088,📣Special Base for Refrigerators\n\n✔️የፍሪጅ ማስቀመ...,Special Base for Refrigerators\n\nየፍሪጅ ማስቀመጫ\n...
2,2024-09-30 11:11:45+00:00,-1001370292088,📣 Door Step Shoe Rack\n\n✔️ የበር ስር ጫማ ማስቀመጫ\n✔...,Door Step Shoe Rack\n\n የበር ስር ጫማ ማስቀመጫ\n ወፍራ...
3,2024-09-29 15:35:03+00:00,-1001370292088,📣 🔠🔠🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠\n\n✔️ ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\...,\n\n ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\nእስከ 50 ኪሎ ይመዝና...
4,2024-09-29 15:13:37+00:00,-1001370292088,📣 🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠🔠🔠🔠 🔠🔠🔠🔠🔠🔠\n\n✔️ ቦርጭ የሚሰበስብ\n✔️የቦ...,\n\n ቦርጭ የሚሰበስብ\nየቦርጭ ስብ የሚያቃጥል \n ማራኪ የሰውነ...

In [7]:
df1= df.drop(['message'],axis ='columns')

In [8]:
df1.head()

,date,sender_id,cleaned_message
0,2024-10-01 10:39:48+00:00,-1001370292088,\n የትኩስ ውሃ መያዢያ ከረጢት\n 1.8 ሊትር ውሃ ይይዛል\n ሙ...
1,2024-09-30 13:19:34+00:00,-1001370292088,Special Base for Refrigerators\n\nየፍሪጅ ማስቀመጫ\n...
2,2024-09-30 11:11:45+00:00,-1001370292088,Door Step Shoe Rack\n\n የበር ስር ጫማ ማስቀመጫ\n ወፍራ...
3,2024-09-29 15:35:03+00:00,-1001370292088,\n\n ዘመናዊ በኤሌክትሮኒክስ የሚሰራ ሚዛን\nእስከ 50 ኪሎ ይመዝና...
4,2024-09-29 15:13:37+00:00,-1001370292088,\n\n ቦርጭ የሚሰበስብ\nየቦርጭ ስብ የሚያቃጥል \n ማራኪ የሰውነ...

In [9]:
import pandas as pd
import re

# Function to remove English words and emojis, but keep numbers (prices)
def clean_amharic_text(text):
    # This regex keeps Amharic characters, whitespace, and digits (0-9)
    cleaned_text = re.sub(r'[^\u1200-\u137F\s0-9]', '', text)
    return cleaned_text.strip()

# Apply the function to the 'cleaned_message' column
df1['cleaned_message'] = df1['cleaned_message'].apply(clean_amharic_text)

# Filter out rows where the cleaned message is empty
df_cleaned = df1[df1['cleaned_message'] != '']

# Sample 500 rows if there are more than 500
if len(df_cleaned) > 500:
    df_sampled = df_cleaned.sample(n=500, random_state=1)  # random_state for reproducibility
else:
    df_sampled = df_cleaned

# Display the first few rows to check
df_sampled.head()

,date,sender_id,cleaned_message
367,2024-07-04 11:19:25+00:00,-1001370292088,ኦሪጅናል ዕቃ\n\nበርካታ ደንበኞቻችን የገዙት፤ የወደዱት\nዕቃ \nየሽን...
136,2024-08-28 15:03:31+00:00,-1001370292088,3 1 \n\nኦሪጅናል የጁስ መፍጪያ\n300 \n ማይካ ጆግ ቢወድቅ ...
99,2024-09-06 12:55:07+00:00,-1001370292088,የፒዛ መጋገሪያ \n ጥብሳ ጥብሶችንም የሚያበስሉበት\n 42 ስፋት\n የሃ...
2908,2022-08-06 14:30:57+00:00,-1001370292088,የህፃናት የሻወር ኮፍያ\nየጆሮ መሸፈኛ ያለው\n 200 ብር\n\n 0904...
548,2024-05-24 06:36:30+00:00,-1001370292088,የመመገቢያ ሳህን\n\n ከማይካ የሰራ\n ማራኪ ውበትና አጨራረስ\n ወፍራ...

In [10]:
# Save the cleaned sample to a new CSV file
df_sampled.to_csv(r'C:\Users\Yibabe\Desktop\10academyAIMweek-5\data\cleaned_amharic_newdata.csv', index=False)

print(f"Saved {len(df_sampled)} cleaned rows to 'cleaned_sample.csv'.")

Saved 500 cleaned rows to 'cleaned_sample.csv'.

In [11]:
df_sampled.head()

,date,sender_id,cleaned_message
367,2024-07-04 11:19:25+00:00,-1001370292088,ኦሪጅናል ዕቃ\n\nበርካታ ደንበኞቻችን የገዙት፤ የወደዱት\nዕቃ \nየሽን...
136,2024-08-28 15:03:31+00:00,-1001370292088,3 1 \n\nኦሪጅናል የጁስ መፍጪያ\n300 \n ማይካ ጆግ ቢወድቅ ...
99,2024-09-06 12:55:07+00:00,-1001370292088,የፒዛ መጋገሪያ \n ጥብሳ ጥብሶችንም የሚያበስሉበት\n 42 ስፋት\n የሃ...
2908,2022-08-06 14:30:57+00:00,-1001370292088,የህፃናት የሻወር ኮፍያ\nየጆሮ መሸፈኛ ያለው\n 200 ብር\n\n 0904...
548,2024-05-24 06:36:30+00:00,-1001370292088,የመመገቢያ ሳህን\n\n ከማይካ የሰራ\n ማራኪ ውበትና አጨራረስ\n ወፍራ...